/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color:  #353430;
  --logo-color: #ffc2e6;
  --subtitle-color: #353430;
  --content-text-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --bg-text-color: #ff8dcb;
  --button-hover-color:  #32312D66;
}

.theme-light .page {
  .decorated-element {
    display: none;
  }
}



@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --font-family: "IBM Plex Mono", "monospase";
    --accent-color:  #353430;
    --logo-color: #ffc2e6;
    --bg-text-color: #ff8dcb;
    --subtitle-color: #353430;
    --content-text-color: #353430;
    --button-hover-color:  #32312D66;
  } 

  .theme-auto .page {
    .decorated-element {
      display: none;
  }
}
}