/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color:  #353430;
  --logo-color: #ffc2e6;
  --subtitle-color: #353430;
  --content-text-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --bg-text-color: #ff8dcb;
}

.theme-light .page {
  .decorated-element {
    display: none;
  }

  .decorated-element::before {
    display: none;
  }

  .decorated-element::after {
    display: none;
  }

  .logo__title {
    text-shadow: 4px 4px 0 var(--bg-text-color);
  }

  .title-decor {
    background-color: var(--bg-text-color);
  }
  
  .footer {
    text-shadow: 2px 2px 0 var(--bg-text-color);
  }
}



@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --font-family: "IBM Plex Mono", "monospase";
    --font-weight-title: 700;
    --font-weight-text: 400;
    --font-size-text: 18px;
    --accent-color:  #353430;
    --logo-color: #ffc2e6;
    --bg-text-color: #ff8dcb;
    --subtitle-color: #353430;
    --content-text-color: #353430;
    --button-hover-color: #353430;
  }

  .decorated-element {
    display: none;
  }

  .decorated-element::before {
    display: none;
  }

  .decorated-element::after {
    display: none;
  }

  .logo__title {
    text-shadow: 4px 4px 0 var(--bg-text-color);
  }

  .title-decor {
    background-color: var(--bg-text-color);
  }
  
  .footer {
    text-shadow: 2px 2px 0 var(--bg-text-color);
  }
}